html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #151515
}
 
body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.projectsBody {
  background-color: #151515;
  padding-top: 100px;
}

.projectContainerTitle {
  text-align: center;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-header {
  background-color: rgba(0, 0, 0, 0.959);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.navSelections ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navSelections ul li {
  margin: 0 10px;
  color: white;
  list-style: none;
}

.navSelections, .linkSelection {
  grid-row: 1/2;
  grid-column: 1/2;
}

.navSelections a, .navSelections:visited  {
  /* color: white; */
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 2px #727272 solid;
}

.navSelections a:hover {
  color: white;
  border-bottom: 2px white solid;
}

#navIcon {
  color: #727272;
  transition: color .15s ease-in-out;
}
#navIcon:hover {
  transform: scale(1.1);
  transition-duration: .1s;
}

.btn-group a:hover{
  transform: scale(1.05);
  transition-duration: .1s;
}

.caroselContainer {
  width: 80%;
  margin: auto;
  padding: 50px;
}

#cardCoverImage {
  position: absolute;
}

.col:hover #cardCoverImage {
  opacity: 0;
}

.card-text + small {
  height: 100%;
  line-height: 30px;
}

.nav-pills .nav-item:hover {
  cursor: pointer;
  transition-duration: .2s;
  background-color: #356efd42;
  border-radius: 5px;
}

.col {
  color: inherit;
  text-decoration: none;
  transition-duration: .2s;
}
.col:hover {
  color: inherit;
  text-decoration: none;
  transition-duration: .2s;
  transform: scale(1.03);
}

.card a, .container svg {
  color: inherit;
  z-index: 60;
  font-size: 16px;
}

.card a:hover, .container svg:hover {
  color: #356efd
}

