#contactContainer {
 margin-top: 50px;
}

.contactContainer svg {
    margin: 10px;
}

.contactContainer svg:hover {

}

.emailContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.emailContainer p:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.801);
}

.contactEmail {
    color: #6c757d; 
}

.githubIcon:hover, .linkedInIcon:hover {
    cursor: pointer !important;
    transform: scale(1.1);
    transition-duration: .2s;
}

.alert {
    width: 100px !important;
    margin: auto;
}